@charset 'utf-8';
@import 'reset';

.header {
    .main_title {
        padding: 20px 50px;
        box-sizing: border-box;
        h1 {
            font-size: 30px;
        }
    }
}


.content_zone {
    margin: 0 auto;
    max-width: 1080px;
    padding: 50px 0;
    box-sizing: border-box;
}

.content_wrap {
    display: flex;
    width: 100%;
    gap: 10px;
    .menu_part {
        width: 240px;
        height: 100%;
        ul {
            > li {
                .menu_name {
                    > a {
                        display: block;
                        padding: 10px 20px;
                        box-sizing: border-box;
                        background: #9499b7;
                    }
                }

                & + li {
                    border-top: 1px solid #7a81ac;
                }
            }
        }
    }
    .content_part {
        flex: 1;
        height: 100%;
        .btn_box {

        }

        .cont_box {
            .item_box {
                border-bottom: 2px solid #000;
                .item {
                    position: relative;
                    display: flex;
                    .title_box {
                        min-width: 200px;
                        max-width: 260px;
                        flex: 1;
                        padding: 20px;
                        box-sizing: border-box;
                        background: #c5cae9;
                    }
                    .desc_box {
                        flex: 1;
                        padding: 20px;
                        box-sizing: border-box;
                        background: #dae2e6;
                    }
                    .tooltip_box {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: #a0a0a0;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}