@charset 'utf-8';
@import 'reset';

.test_box {
	width: 100vw;
	height: 100%;
	background: #303030;
	color: #f0f0f0;
	font-size: 12px;

	.scroll_test_box {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		.cont_box {
			width: 100%;
			padding: 100px 10px;
			box-sizing: border-box;
			background: rgba(255, 255, 255, 0.1);
			font-size: 22px;
			text-align: center;
			p + p {
				margin-top: 20px;
			}
		}
	}
}