@charset "UTF-8";
.cont-box {
    position: relative;
}

.test {
    font-size: 20px;
    font-size: 40px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.test2 {
    font-size: 30px;
}

.test3 {
    font-size: 30px;
}

/*
	주석 테스트
*/