<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<title>Text Field</title>

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="../../../z_stoveui/stoveui.css">

	<!-- JS -->
	<script type="text/javascript" src="../../asset.js"></script>
	<script type="text/javascript" src="../../../z_stoveui/stoveui.js"></script>


	<style>
		.se-textarea.has-error textarea {
			border-color: #EC4852;
			color: #EC4852;
			background-color: rgba(236, 72, 83, 0.3);
		}
		.se-textarea.has-success textarea {
			border-color: #487cec;
			color: #487cec;
			background-color: rgba(72, 124, 236, 0.3);
		}
	</style>
</head>


<body>


<!-- S : Guide Layout -->
<div class="guide_layout">

<!-- <div class="example_wrap">
	<div class="example_title">대분류</div>
	<div class="example_box">
		<div class="ex_title">
			<div class="title">중분류</div>
			<div class="info">주요 참고내용</div>
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">소분류</span><span class="class_name">셀렉터명</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">기타설명(필요할 경우)</div>
			<div class="source_code">
소스코드(좌우상하 공백없이 작성)
			</div>
		</div>
	</div>
</div> -->

<div class="example_wrap">
	<div class="example_title">Area</div>
	<div class="example_box">
		<div class="ex_title">
			<div class="title">Default</div>
			<!-- <div class="info">주요 참고내용</div> -->
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.se-textarea</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<!-- <div class="etc_info_wrap">기타설명(필요할 경우)</div> -->
			<div class="source_code">
<!-- <div class="se-textarea">
	<textarea placeholder="입력해주세요" title="타이틀"></textarea>
</div> -->







<div>
	<label for="ta_temp001">textarea test(50자 이내)</label>
	<div class="se-textarea">
		<textarea id="ta_temp001" aria-describedby="calcuateMessage" placeholder="입력해주세요" title="textarea test" _maxlength="51"></textarea>
	</div>
	<div class="legend">
        <span class="min">0</span>/<span class="max">50</span>자 (vanilla)
    </div>
	<div class="counter">
		<div aria-hidden="true">
			<span class="current_min">0</span>/<span>50</span>자 (jQuery)
		</div>
		<div class="_hidden" id="calcuateMessage" aria-atomic="true" aria-live="off">
			<span>총 50자 중 <span class="current_min">0</span>자 입력</span>
		</div>
	</div>
</div>




<script>

// jQuery
let $textarea = $('#ta_temp001');
let $conter = $('.legend');
let _hidden = $('._hidden');
let $current_min = $('.current_min');


$($textarea).on('input', ()=> {

	if($textarea.val().length % 10 == 0) {
		console.log('ten!!');
	}
	if($textarea.val().length == 50) {
		$('.se-textarea').addClass('has-success');
	} else if ($textarea.val().length >= 50) {
		$('.se-textarea').removeClass('has-success');
		$('.se-textarea').addClass('has-error');
	} else {
		$('.se-textarea').removeClass('has-success');
		$('.se-textarea').removeClass('has-error');
	}
	$current_min.text($textarea.val().length);

	console.log($textarea.val().length);
})





// vanilla js
const _target = document.querySelector('#ta_temp001');
const _current_min = document.querySelector('.min');
const _textarea = _target.closest('.se-textarea');

_target.addEventListener('input',function() {
	const _this = this;

	if(_this.value.length % 10 == 0) {
		console.log('ten!!');
	}

	if(_this.value.length == 50) {
		_textarea.classList.remove('has-error');
		_textarea.classList.add('has-success');
	} else if (_this.value.length >= 50) {
		_textarea.classList.remove('has-success');
		_textarea.classList.add('has-error');
	} else {
		_textarea.classList.remove('has-success');
		_textarea.classList.remove('has-error');
	}
	_current_min.textContent = _this.value.length;

	console.log(_this.value.length);
})

</script>







			</div>
		</div>
	</div>
</div>



</div>
<!-- E : Guide Layout -->


</body>
</html>