@charset "utf-8";
@import "reset";

* {
	box-sizing: border-box;
}
body {
	width: 100%;
	overflow-x: hidden;
}

#header {
	width: 100%;
	height: 120px;
	position: relative;
	z-index: 2;
	border-bottom: 1px solid #ddd;


	.inner {
		width: 1180px;
		height: 120px;
		margin: 0px auto;
		position: relative;

		&::after {
			content: "";
			display: block;
			clear: both;
		}

		h1 {
			font: bold 30px/60px "arial";
			height: 60px;
			color: #777;
			position: absolute;
			bottom: 10px;
			left: 0px;
		}

		#gnb {
			position: absolute;
			bottom: 0px;
			right: 0px;

			>li {
				float: left;

				>a {
					display: block;
					width: 150px;
					height: 60px;
					font: bold 14px/60px "arial";
					color: #777;
					text-align: center;
					transition: 0.5s;

					&:hover, &.on {
						background: #777;
						color: #fff;
					}
				}

				.sub {
					position: absolute;
					width: 1180px;
					height: 300px;
					right: 0px;
					top: 60px;
					font-size: 30px;
					background: #fff;
					display: none;
					border: 1px solid red;

					&::before {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						background: inherit;
						position: absolute;
						top: 0px;
						left: -100%;
						border: 1px solid blue;
					}
					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						background: inherit;
						position: absolute;
						top: 0px;
						right: -100%;
						border: 1px solid green;
					}

					.left {
						width: 380px;
						height: 100%;
						position: absolute;
						left: 0px;
						top: 0px;
						//background: #3d4577;
					}

					.right {
						width: 800px;
						height: 300px;
						position: absolute;
						right: 0px;
						top: 0px;
						//background:#fff;
					}
				}
			}
		}
	}
}

#visual {
	width: 100%;
	height: 500px;
	background: hotpink;
	position: relative;
}