@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.test_box {
    width: 100vw;
    height: 100%;
    background: #d7ccc8;
    color: #f0f0f0;
    font-size: 12px;
}
.test_box .scroll_test_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}
.test_box .scroll_test_box .btn_box {
    margin: 20px;
}
.test_box .scroll_test_box .btn_box .btn_test {
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-size: 18px;
}
.test_box .scroll_test_box .btn_box .btn_test:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
}
.test_box .scroll_test_box .cont_box {
    width: 100%;
    padding: 100px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #a69b97;
    font-size: 22px;
}
.test_box .scroll_test_box .cont_box p {
    text-align: center;
}
.test_box .scroll_test_box .cont_box p + p {
    margin-top: 20px;
}
.test_box .scroll_test_box .cont_box .test_box {
    width: 40px;
    height: 40px;
    background: #bdb9b7;
}
.test_box .scroll_test_box .cont_box .test_box + .test_box {
    margin-top: 10px;
}
.test_box .scroll_test_box .cont_box .test_box.on {
    background: #efebe9;
}
.test_box .scroll_test_box .cont_box .test2-test {
    /*css 작성 룰*/
    /* 컨텐트 생성 */
    /*content: "blur, box-shadow box-shadow";*/
    /* 우선순위 */
    z-index: 10;
    /* 표시 */
    /*overflow: hidden;*/
    opacity: 1;
    visibility: visible;
    /* 레이아웃 */
    display: block;
    /*vertical-align: middle;*/
    position: relative;
    top: 20px;
    /*right: 0;*/
    /*bottom: 0;*/
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); /* 위치사용 */
    float: left;
    /* 사이즈 */
    min-width: 100px;
    width: 200px;
    max-width: 220px;
    min-height: 100px;
    height: 120px;
    max-height: 130px;
    line-height: 120px; /*박스내 상하정렬시 사용*/
    margin: 10px;
    padding: 0 10px 0 10px;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 컨텐트 */
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /*line-height: 1.5;*/
    color: #303030;
    /* 부가속성 */
    /*background: url("../") no-repeat center/15px 30px;*/
    -webkit-box-shadow: 10px 10px 10px #000;
            box-shadow: 10px 10px 10px #000;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-animation: test-animation 3s 0s infinite ease-in-out alternate;
            animation: test-animation 3s 0s infinite ease-in-out alternate;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-filter: blur(0.8px);
            filter: blur(0.8px);
    /*//css 작성 룰*/
}
.test_box .scroll_test_box .cont_box .test2-test::before {
    content: "blur, drop-shadow";
    z-index: 10;
    opacity: 1;
    position: absolute;
    top: 160px;
    left: 0;
    width: 200px;
    height: 120px;
    line-height: 120px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /*line-height: 1.5;*/
    color: #303030;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-animation: test-animation2 3s 0s infinite ease-in-out alternate;
            animation: test-animation2 3s 0s infinite ease-in-out alternate;
    -webkit-filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
            filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
}
.test_box .scroll_test_box .cont_box .test2-test::after {
    content: "blur, drop-shadow, bg /blur, drop-shadow, bg";
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    top: 160px;
    left: 240px;
    width: 200px;
    height: 120px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #303030;
    background-color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-animation: test-animation2 3s 0s infinite ease-in-out alternate;
            animation: test-animation2 3s 0s infinite ease-in-out alternate;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
            filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
}
.test_box .scroll_test_box .cont_box .img-box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding-top: 350px;
}
.test_box .scroll_test_box .cont_box .img-box-wrap .img-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.test_box .scroll_test_box .cont_box .img-box-wrap .img-box > img {
    width: 100%;
}

@-webkit-keyframes test-animation {
    50% {
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-filter: blur(0);
                filter: blur(0);
    }
    100% {
        -webkit-box-shadow: 10px 10px 10px #000;
                box-shadow: 10px 10px 10px #000;
        -webkit-filter: blur(0.8px);
                filter: blur(0.8px);
    }
}

@keyframes test-animation {
    50% {
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-filter: blur(0);
                filter: blur(0);
    }
    100% {
        -webkit-box-shadow: 10px 10px 10px #000;
                box-shadow: 10px 10px 10px #000;
        -webkit-filter: blur(0.8px);
                filter: blur(0.8px);
    }
}
@-webkit-keyframes test-animation2 {
    50% {
        -webkit-filter: blur(0) drop-shadow(0 0 0 transparent);
                filter: blur(0) drop-shadow(0 0 0 transparent);
    }
    100% {
        -webkit-filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
                filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
    }
}
@keyframes test-animation2 {
    50% {
        -webkit-filter: blur(0) drop-shadow(0 0 0 transparent);
                filter: blur(0) drop-shadow(0 0 0 transparent);
    }
    100% {
        -webkit-filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
                filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
    }
}
/*---------------------------------------------
	대분류
---------------------------------------------*/
/* 소분류 */
/*
scss 파일 단독 사용(메모용)
(띄어쓰기)
대분류끼리 3줄
소분류끼리 1줄
소분류끼리 2줄(중분류단위의 주석작성시)
*/