* {
    margin: 0;
    padding: 0;
}

.test_box {
    width: 100vw;
    height: 100%;
    background: #d7ccc8;
    color: #f0f0f0;
    font-size: 12px;
}
.test_box .scroll_test_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}
.test_box .scroll_test_box .btn_box {
    margin: 20px;
}
.test_box .scroll_test_box .btn_box .btn_test {
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-size: 18px;
}
.test_box .scroll_test_box .btn_box .btn_test:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
}
.test_box .scroll_test_box .cont_box {
    width: 100%;
    padding: 100px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #a69b97;
    font-size: 22px;
    text-align: center;
}
.test_box .scroll_test_box .cont_box p + p {
    margin-top: 20px;
}
.test_box .scroll_test_box .cont_box .test_box {
    width: 40px;
    height: 40px;
    background: #bdb9b7;
}
.test_box .scroll_test_box .cont_box .test_box + .test_box {
    margin-top: 10px;
}
.test_box .scroll_test_box .cont_box .test_box.on {
    background: #efebe9;
}