@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}

input {
    outline: none;
}

body {
    background: rgba(228, 250, 255, 0.9);
}

section {
    width: 400px;
    background: #fff;
    margin: 100px auto;
    padding: 70px 50px 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
section legend {
    font: 45px/1 "Roboto", sans-serif;
    color: #555;
    margin-bottom: 40px;
}
section legend::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: #999;
    margin-top: 20px;
}
section .userid label, section .pwd label, section .comments label, section .job label, section .email label {
    display: block;
    margin-bottom: 10px;
    color: #999;
}
section .userid textarea, section .pwd textarea, section .comments textarea, section .job textarea, section .email textarea {
    resize: none;
}
section .userid input[type=text], section .userid input[type=password], section .userid textarea, section .userid select, section .pwd input[type=text], section .pwd input[type=password], section .pwd textarea, section .pwd select, section .comments input[type=text], section .comments input[type=password], section .comments textarea, section .comments select, section .job input[type=text], section .job input[type=password], section .job textarea, section .job select, section .email input[type=text], section .email input[type=password], section .email textarea, section .email select {
    width: 100%;
    background: #f5ffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
    -webkit-transition: 1s;
    transition: 1s;
}
section .userid input[type=text]::-webkit-input-placeholder, section .userid input[type=password]::-webkit-input-placeholder, section .userid textarea::-webkit-input-placeholder, section .userid select::-webkit-input-placeholder, section .pwd input[type=text]::-webkit-input-placeholder, section .pwd input[type=password]::-webkit-input-placeholder, section .pwd textarea::-webkit-input-placeholder, section .pwd select::-webkit-input-placeholder, section .comments input[type=text]::-webkit-input-placeholder, section .comments input[type=password]::-webkit-input-placeholder, section .comments textarea::-webkit-input-placeholder, section .comments select::-webkit-input-placeholder, section .job input[type=text]::-webkit-input-placeholder, section .job input[type=password]::-webkit-input-placeholder, section .job textarea::-webkit-input-placeholder, section .job select::-webkit-input-placeholder, section .email input[type=text]::-webkit-input-placeholder, section .email input[type=password]::-webkit-input-placeholder, section .email textarea::-webkit-input-placeholder, section .email select::-webkit-input-placeholder {
    color: skyblue;
}
section .userid input[type=text]::-moz-placeholder, section .userid input[type=password]::-moz-placeholder, section .userid textarea::-moz-placeholder, section .userid select::-moz-placeholder, section .pwd input[type=text]::-moz-placeholder, section .pwd input[type=password]::-moz-placeholder, section .pwd textarea::-moz-placeholder, section .pwd select::-moz-placeholder, section .comments input[type=text]::-moz-placeholder, section .comments input[type=password]::-moz-placeholder, section .comments textarea::-moz-placeholder, section .comments select::-moz-placeholder, section .job input[type=text]::-moz-placeholder, section .job input[type=password]::-moz-placeholder, section .job textarea::-moz-placeholder, section .job select::-moz-placeholder, section .email input[type=text]::-moz-placeholder, section .email input[type=password]::-moz-placeholder, section .email textarea::-moz-placeholder, section .email select::-moz-placeholder {
    color: skyblue;
}
section .userid input[type=text]:-ms-input-placeholder, section .userid input[type=password]:-ms-input-placeholder, section .userid textarea:-ms-input-placeholder, section .userid select:-ms-input-placeholder, section .pwd input[type=text]:-ms-input-placeholder, section .pwd input[type=password]:-ms-input-placeholder, section .pwd textarea:-ms-input-placeholder, section .pwd select:-ms-input-placeholder, section .comments input[type=text]:-ms-input-placeholder, section .comments input[type=password]:-ms-input-placeholder, section .comments textarea:-ms-input-placeholder, section .comments select:-ms-input-placeholder, section .job input[type=text]:-ms-input-placeholder, section .job input[type=password]:-ms-input-placeholder, section .job textarea:-ms-input-placeholder, section .job select:-ms-input-placeholder, section .email input[type=text]:-ms-input-placeholder, section .email input[type=password]:-ms-input-placeholder, section .email textarea:-ms-input-placeholder, section .email select:-ms-input-placeholder {
    color: skyblue;
}
section .userid input[type=text]::-ms-input-placeholder, section .userid input[type=password]::-ms-input-placeholder, section .userid textarea::-ms-input-placeholder, section .userid select::-ms-input-placeholder, section .pwd input[type=text]::-ms-input-placeholder, section .pwd input[type=password]::-ms-input-placeholder, section .pwd textarea::-ms-input-placeholder, section .pwd select::-ms-input-placeholder, section .comments input[type=text]::-ms-input-placeholder, section .comments input[type=password]::-ms-input-placeholder, section .comments textarea::-ms-input-placeholder, section .comments select::-ms-input-placeholder, section .job input[type=text]::-ms-input-placeholder, section .job input[type=password]::-ms-input-placeholder, section .job textarea::-ms-input-placeholder, section .job select::-ms-input-placeholder, section .email input[type=text]::-ms-input-placeholder, section .email input[type=password]::-ms-input-placeholder, section .email textarea::-ms-input-placeholder, section .email select::-ms-input-placeholder {
    color: skyblue;
}
section .userid input[type=text]::placeholder, section .userid input[type=password]::placeholder, section .userid textarea::placeholder, section .userid select::placeholder, section .pwd input[type=text]::placeholder, section .pwd input[type=password]::placeholder, section .pwd textarea::placeholder, section .pwd select::placeholder, section .comments input[type=text]::placeholder, section .comments input[type=password]::placeholder, section .comments textarea::placeholder, section .comments select::placeholder, section .job input[type=text]::placeholder, section .job input[type=password]::placeholder, section .job textarea::placeholder, section .job select::placeholder, section .email input[type=text]::placeholder, section .email input[type=password]::placeholder, section .email textarea::placeholder, section .email select::placeholder {
    color: skyblue;
}
section .userid input[type=text]:focus, section .userid input[type=password]:focus, section .userid textarea:focus, section .userid select:focus, section .pwd input[type=text]:focus, section .pwd input[type=password]:focus, section .pwd textarea:focus, section .pwd select:focus, section .comments input[type=text]:focus, section .comments input[type=password]:focus, section .comments textarea:focus, section .comments select:focus, section .job input[type=text]:focus, section .job input[type=password]:focus, section .job textarea:focus, section .job select:focus, section .email input[type=text]:focus, section .email input[type=password]:focus, section .email textarea:focus, section .email select:focus {
    border: 1px solid #1aabff;
    background: #e6faff;
}
section .userid input[type=text].error, section .userid input[type=password].error, section .userid textarea.error, section .userid select.error, section .pwd input[type=text].error, section .pwd input[type=password].error, section .pwd textarea.error, section .pwd select.error, section .comments input[type=text].error, section .comments input[type=password].error, section .comments textarea.error, section .comments select.error, section .job input[type=text].error, section .job input[type=password].error, section .job textarea.error, section .job select.error, section .email input[type=text].error, section .email input[type=password].error, section .email textarea.error, section .email select.error {
    background: #ffeafe;
    border: 1px solid #ff24ff;
}
section .gender, section .hobby {
    margin-bottom: 10px;
}
section .gender h2, section .hobby h2 {
    font: normal 16px/1 "arial";
    color: #888;
    margin-bottom: 10px;
}
section .gender p, section .hobby p {
    font: 12px/1 "맑은 고딕";
    color: hotpink;
    display: none;
}
section .gender input, section .hobby input {
    margin-right: 5px;
    margin-left: 5px;
}
section input[type=reset] {
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    margin-bottom: 15px;
    padding: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font: bold 12px/1 "arial";
    color: #fff;
    background: linear-gradient(45deg, #c5c5c5, #868686);
    -webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
section input[type=reset]:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}
section input[type=submit] {
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font: bold 12px/1 "arial";
    color: #fff;
    background: linear-gradient(45deg, #52f9ff, #25b0fd);
    -webkit-box-shadow: 3px 6px 10px rgba(19, 200, 255, 0.4);
            box-shadow: 3px 6px 10px rgba(19, 200, 255, 0.4);
    letter-spacing: 4px;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
section input[type=submit]:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}