* { margin: 0; padding: 0; }

ul, ol, li { list-style: none; }

a { text-decoration: none; }

#header { width: 100%; background: #fff; }

#header .inner { width: 1180px; height: 100px; margin: 0 auto; position: relative; }

#header .inner h1 { position: absolute; left: 0; bottom: 20px; font: bold 18px/1 'arial'; color: #555; }

#visual { width: 100%; background: hotpink; }

#visual .inner { width: 1180px; height: 100vh; margin: 0 auto; position: relative; }

#visual .inner p { width: 200px; height: 200px; background: #111; position: absolute; top: 100px; left: 100px; }

section { width: 100%; padding: 200px 0; }

section .inner { width: 1180px; margin: 0 auto; min-height: 300px; position: relative; }

section .inner h1 { font: bold 15px/1 'arial'; color: #666; text-align: center; margin-bottom: 100px; }

section .inner p { width: 100px; height: 100px; background: pink; position: absolute; top: 0; left: 0; }

#brand { background: #eee; }

#brand .inner .wrap { width: 100%; }

#brand .inner .wrap::after { content: ''; display: block; clear: both; }

#brand .inner .wrap article { width: 280px; height: 250px; background: #555; float: left; margin-right: 20px; -webkit-transition: 0.5s; transition: 0.5s; opacity: 0; -webkit-transform: translateY(100px); transform: translateY(100px); }

#brand .inner .wrap article:first-of-type { -webkit-transition-delay: 0s; transition-delay: 0s; }

#brand .inner .wrap article:nth-of-type(2) { -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

#brand .inner .wrap article:nth-of-type(3) { -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }

#brand .inner .wrap article:last-of-type { margin-right: 0; -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }

#brand.on .inner .wrap article { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

#footer { width: 100%; padding: 80px 0; border-top: 1px solid #bbb; }

#footer .inner { width: 1180px; margin: 0 auto; min-height: 300px; }

#footer .inner p { font: 14px/1 'arial'; color: #888; letter-spacing: 2px; text-align: center; }

#navi { position: fixed; right: 50px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#navi li { margin: 20px 0; }

#navi li a { display: block; width: 10px; height: 10px; background: #888; border-radius: 5px; -webkit-transition: 0.5s; transition: 0.5s; }

#navi li a.on { background: #111; height: 60px; }
