@charset "utf-8";

/* @font-face {
    font-family: 'ulsanjunggu';
    font-family: 'test';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
    font-family: 'test';
    src: url('https://mongshelll.github.io/personal_rome/files/font_test/font/ulsanjunggu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'test';
    src: url('https://eilab.kr/pub/ljs1898/font_text/font/ulsanjunggu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}