.container { overflow: hidden; }

.container .contents { padding-bottom: 110px; }

.top_banner { z-index: 200; position: relative; width: 100%; height: 144px; background: #2E374A url("../image/landing/bg_mask.png") no-repeat center/cover; }

.top_banner > img { margin: 20px 0 0 25px; width: 201px; }

.top_banner .ebbtn.btn_banner_close { width: 24px; height: 24px; position: absolute; right: 22px; bottom: 20px; text-indent: 100%; overflow: hidden; white-space: nowrap; background: url("../image/landing/icon_close.png") no-repeat center/contain; }

.header { position: static; }

.landing_main_visula { position: relative; height: 479px; }

.landing_main_visula > img { display: block; }

.landing_main_visula > a { width: 77px; height: 17px; margin-top: 30px; display: block; background: url("../image/landing/icon_more.png") no-repeat center/contain; }

.landing_main_visula::before { content: ""; z-index: -1; position: absolute; top: -205px; left: -62px; width: 566px; height: 688px; background: url("../image/landing/main_bg.png") no-repeat center/contain; }

.prod_info_part { padding: 40px 25px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #F8F8F9; }

.prod_info_part .cont_box { margin-top: 25px; }

.prod_info_part .cont_box .data_box { display: table; width: 100%; }

.prod_info_part .cont_box .data_box + .data_box { margin-top: 25px; }

.prod_info_part .cont_box .data_box .left { display: table-cell; vertical-align: middle; font-size: 0; }

.prod_info_part .cont_box .data_box .left > span { display: inline-block; vertical-align: middle; margin-right: 10px; }

.prod_info_part .cont_box .data_box .left .img01 { display: inline-block; vertical-align: middle; width: 30px; height: 30px; background: url("../image/landing/icon_prod01.png") no-repeat center/contain; }

.prod_info_part .cont_box .data_box .left .img02 { display: inline-block; vertical-align: middle; width: 30px; height: 30px; background: url("../image/landing/icon_prod02.png") no-repeat center/contain; }

.prod_info_part .cont_box .data_box .left .img03 { display: inline-block; vertical-align: middle; width: 30px; height: 30px; background: url("../image/landing/icon_prod03.png") no-repeat center/contain; }

.prod_info_part .cont_box .data_box .left .data_name { font-size: 14px; color: #707070; }

.prod_info_part .cont_box .data_box .right { display: table-cell; vertical-align: middle; text-align: right; }

.prod_info_part .cont_box .data_box .right .data { font-size: 18px; color: #303030; }

.prod_info_part .btn_box { margin-top: 40px; }

.prod_info_part .btn_box .ebbtn.btn_limit { width: 100%; padding: 15px 15px 14px 15px; border-radius: 12px; background: #E9E9E9; font-size: 16px; text-align: center; }

.faq_part { padding: 40px 0; }

.faq_part .title_box { display: table; width: 100%; }

.faq_part .title_box .title { display: table-cell; vertical-align: middle; }

.faq_part .title_box .btn_more { width: 57px; display: table-cell; vertical-align: middle; text-align: right; font-size: 14px; color: #707070; }

.faq_part .list_box { margin-top: 15px; }

.faq_part .list_box .cont_box { display: table; width: 100%; padding: 21px 0; }

.faq_part .list_box .cont_box .left { display: table-cell; vertical-align: middle; }

.faq_part .list_box .cont_box .right { display: table-cell; vertical-align: middle; text-align: right; }

.faq_part .list_box .cont_box .right .ebbtn.btn_down { width: 16px; height: 16px; background: url("../image/landing/btn_down.png") no-repeat center/cover; }

.card_menu_part { padding-bottom: 29px; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 15px; }

.card_menu_part .item { position: relative; width: calc( 50% - (15px/2)); height: 140px; padding: 25px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; border: 1px solid #E6E6E6; border-radius: 14px; }

.card_menu_part .item .menu_name { font-family: "KBFGDisplay"; font-weight: bold; font-size: 16px; }

.card_menu_part .item .img01 { position: absolute; right: 25px; bottom: 25px; display: inline-block; width: 35px; height: 34px; background: url("../image/landing/img_card_menu01.png") no-repeat right bottom/contain; }

.card_menu_part .item .img02 { position: absolute; right: 25px; bottom: 25px; display: inline-block; width: 26px; height: 34px; background: url("../image/landing/img_card_menu02.png") no-repeat right bottom/contain; }

.contents_bottom { position: fixed; bottom: 0; left: 0; width: 100%; height: 110px; padding: 0 20px 43px; background-color: #fff; }

.contents_bottom .btn_box .ebbtn.btn_main { width: 100%; margin-top: 10px; padding: 20px 0 19px; background: #FFCC00; font-weight: bold; font-size: 16px; text-align: center; border-radius: 12px; }

.title { font-family: "KBFGDisplay"; font-weight: bold; font-size: 20px; }
