/* v0.1 | 2022-06-03 */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

.se-btn { -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration: none; border: 1px solid transparent; _outline: none; cursor: pointer; _-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.se-btn[disabled="disabled"], .se-btn:disabled, .se-btn.disabled { cursor: default; }

.se-btn { display: inline-block; padding: 0; background: transparent; text-align: center; vertical-align: middle; font-weight: normal; }

.se-ico { overflow: hidden; display: inline-block; position: relative; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); font-size: 0; vertical-align: middle; }

.layout-ars { width: 100%; height: 100%; background-color: #fff; }

.layout-ars .header { position: fixed; top: 0; left: 0; width: 100%; height: 55px; padding: 17px 20px; background-color: #fff; }

.layout-ars .container { padding-top: 55px; }

.layout-ars .container .contents { width: 100%; }

.layout-ars .container .contents-bottom { position: fixed; bottom: 0; left: 0; width: 100%; padding: 0 20px 43px; background-color: #fff; }

.layout-ars .container .contents-bottom .btn-main { width: 100%; height: 60px; line-height: 58px; border-radius: 10px; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); background-color: #FFCC00; font-family: 'SpoqaHanSansNeo'; font-size: 16px; font-weight: bold; text-align: center; }

.layout-ars.main { background-color: #f9f9f9; }

.layout-ars.main .header { background-color: #FFD133; }

.layout-ars.main .container { padding-top: 55px; padding-bottom: 0; }

.layout-ars.main .container .title-area { background-color: #FFD133; }

.layout-ars.main .contents-bottom { position: fixed; bottom: 0; left: 0; width: 100%; -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.06); box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.06); border-radius: 20px 20px 0 0; padding: 25px 20px 37px; background-color: #fff; }

.layout-ars .img-pack img { display: inline-block; width: 50%; }

.layout-ars .title-area { padding: 17px 20px 20px; }

.layout-ars .title-area .title-pack { font-family: 'KBFGDisplay'; background-image: url("../image/contents/ars/bg_character.png"); background-repeat: no-repeat; background-size: 107px; background-position: right bottom; }

.layout-ars .title-area .title-pack .text { font-size: 16px; font-weight: lighter; }

.layout-ars .title-area .title-pack .title { font-family: 'KBFGText'; font-size: 22px; font-weight: bold; }

.layout-ars .conts-area { position: relative; width: 100%; margin-top: 0; _margin-left: -20px; border-radius: 25px 25px 0 0; _overflow: hidden; background-color: #F9F9F9; padding: 28px 20px 115px; }

.layout-ars .conts-area:before { _z-index: -1; content: ''; position: absolute; top: -20px; left: 0; width: 100%; height: 20px; background-color: #F9F9F9; border-radius: 25px 25px 0 0; }

.layout-ars .conts-area .row-pack .col .text { margin-top: 6px; color: #707070; }

.layout-ars .login-area { padding-top: 120px; padding-bottom: 103px; text-align: center; }

.layout-ars .login-area .title { font-family: 'KBFGDisplay'; font-size: 22px; font-weight: normal; margin-bottom: 30px; }

.layout-ars .info-area { padding: 0 20px; padding-bottom: 123px; }

.layout-ars .info-area .row-pack { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.layout-ars .info-area .row-pack .col { width: 100%; }

.layout-ars .info-area .row-pack .col-right { margin-left: auto; }

.layout-ars .info-area .line-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 50px; padding: 0 20px; border: 1px solid #E9EBEE; border-radius: 10px; background-color: #fff; font-size: 16px; font-family: 'SpoqaHanSansNeo'; }

.layout-ars .info-area .line-box .col { width: 100%; }

.layout-ars .info-area .line-box .col-right { margin-left: auto; }

.layout-ars .info-area .bg-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 74px; padding: 0 20px; border-radius: 10px; background-color: #EBEFF3; }

.layout-ars .info-area .bg-box .col { width: 100%; }

.layout-ars .info-area .bg-box .col-right { margin-left: auto; }

.layout-ars .info-area .amount-box .conts { width: 100%; margin-top: 9px; border-bottom: 1px solid #F2F4F7; }

.layout-ars .info-area .amount-box .conts .row { font-family: 'SpoqaHanSansNeo'; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-top: 1px solid #F2F4F7; }

.layout-ars .info-area .amount-box .conts .row .col { width: 140px; padding: 18px 10px; color: #707070; font-size: 13px; background-color: #FBFCFD; }

.layout-ars .info-area .amount-box .conts .row .col-right { margin-left: auto; padding: 18px 10px; font-size: 14px; }

.layout-ars .row-pack { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.layout-ars .row-pack .col { position: relative; width: 25%; margin-bottom: 27px; text-align: center; }

.layout-ars .row-pack .col .text { font-family: 'SpoqaHanSansNeo'; font-size: 13px; }

.layout-ars .row-pack .col.side-bar:before { content: ''; position: absolute; top: 50%; left: 0; margin-top: -7.5px; width: 1px; height: 15px; background-color: rgba(0, 0, 0, 0.2); vertical-align: middle; }

.layout-ars .row-pack.vat { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.layout-ars .row-pack.ty-flex { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.layout-ars .row-pack.ty-flex .col { width: calc(100% - 5px); margin-bottom: 0; }

.layout-ars .row-pack.ty-flex .col + .col { margin-left: 10px; }

.layout-ars .row-pack.ty-flex .col .list-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 66px; border-radius: 10px; background-color: #fff; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); font-family: 'SpoqaHanSansNeo'; font-size: 13px; font-weight: 700; color: #707070; }

.mt-12 { margin-top: 12px !important; }

.mt-28 { margin-top: 28px !important; }

.se-ico { background-repeat: no-repeat; background-size: 100%; background-position: center top; }

.ico-tit-01 { width: 36px; height: 36px; background-image: url("../image/contents/ars/icon_tit_01.png"); background-size: 24px; }

.ico-tit-02 { width: 36px; height: 36px; background-image: url("../image/contents/ars/icon_tit_02.png"); background-size: 28px; }

.ico-tit-03 { width: 36px; height: 36px; background-image: url("../image/contents/ars/icon_tit_03.png"); background-size: 21px; }

.ico-tit-04 { width: 36px; height: 36px; background-image: url("../image/contents/ars/icon_tit_04.png"); background-size: 20px; }

.ico-cnt-01 { width: 44px; height: 44px; background-image: url("../image/contents/ars/icon_cnt_01.png"); }

.ico-cnt-02 { width: 44px; height: 44px; background-image: url("../image/contents/ars/icon_cnt_02.png"); }

.ico-cnt-03 { width: 44px; height: 44px; background-image: url("../image/contents/ars/icon_cnt_03.png"); }

.ico-cnt-04 { width: 44px; height: 44px; background-image: url("../image/contents/ars/icon_cnt_04.png"); }

.ico-cnt-05 { width: 44px; height: 44px; background-image: url("../image/contents/ars/icon_cnt_05.png"); }

.ico-cnt-06 { width: 44px; height: 44px; background-image: url("../image/contents/ars/icon_cnt_06.png"); }

.ico-cnt-07 { width: 44px; height: 44px; background-image: url("../image/contents/ars/icon_cnt_07.png"); }
