@charset "UTF-8";
/* v0.1 | 2022-06-03 */
html, body { width: 100%; height: 100%; }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul li, ol li { list-style: none; }

a:link, a:visited { text-decoration: none; color: #303030; }

/*---------------------------------------------
	Layout - component #레이아웃컴포넌트
---------------------------------------------*/
/* ly-btn */
.ly-btn { -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration: none; border: 1px solid transparent; _outline: none; cursor: pointer; _-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.ly-btn[disabled="disabled"], .ly-btn:disabled, .ly-btn.disabled { cursor: default; }

.ly-btn { display: inline-block; padding: 0; background: transparent; text-align: center; vertical-align: middle; font-weight: normal; }

.ly-btn > .hidden-txt { overflow: hidden; display: inline-block; position: relative; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); }

/* ly-ico */
.ly-ico { display: inline-block; vertical-align: middle; }

.ly-ico > img { width: 100%; }

/*---------------------------------------------
	Layout #레이아웃
---------------------------------------------*/
/*
    z-index
*/
.skip-navi { z-index: 99999; }

.header { z-index: 1000; }

.header-wrap { z-index: inherit; }

/*
    skip-navi #스킵네비
*/
.skip-navi { position: absolute; top: 0; left: 0; width: 100%; }

.skip-navi > a { opacity: 0; position: absolute; top: -30px; left: 0; display: block; width: 100%; height: 30px; line-height: 30px; text-align: center; color: #fff; background-color: #0c0c0c; }

/*
    layout
*/
.layout { overflow: hidden; width: 100%; min-width: 360px; background-color: #F9F9F9; }

.layout-main { overflow-x: hidden; }

/*
    header #헤더
*/
.header { position: fixed; top: 0; left: 0; width: 100%; height: 55px; background: transparent; }

.header.is_scroll { background: #F9F9F9; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06); }

.header .header-wrap { position: relative; min-width: 360px; padding: 0 25px; width: 100%; height: 100%; }

.header .header-left { float: left; height: 100%; font-size: 0; }

.header .header-left h1.logo { margin-top: 19px; display: inline-block; vertical-align: middle; width: 91px; height: 17px; font-size: 0; }

.header .header-left h1.logo > a { display: inline-block; width: 100%; height: 100%; }

.header .header-left h1.logo > a > img { width: 100%; }

.header .header-left .gnb { margin-left: 25px; display: inline-block; height: 100%; vertical-align: middle; font-size: 0; }

.header .header-left .gnb > li { display: inline-block; height: 100%; vertical-align: middle; }

.header .header-left .gnb > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; padding: 10px 15px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 18px; color: #707070; }

.header .header-left .gnb > li > .gnb-dep2 { display: none; position: absolute; left: 0; top: 100%; width: 100%; height: 500px; padding: 40px 140px; background-color: antiquewhite; }

.header .header-left .gnb > li:hover > a { font-weight: 900; }

.header .header-left .gnb > li:hover > .gnb-dep2 { display: block; }

.header .header-right { float: right; height: 100%; margin-left: auto; font-size: 0; }

.header .header-right .util-menu { display: inline-block; vertical-align: middle; height: 100%; font-size: 0; }

.header .header-right .util-menu > li { display: inline-block; vertical-align: middle; height: 100%; }

.header .header-right .util-menu > li > a { padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; color: #707070; }

.header .header-right .account-menu { display: inline-block; vertical-align: middle; height: 100%; margin-left: 10px; }

.header .header-right .account-menu:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

.header .header-right .account-menu > .btn-login { padding: 4px 12px 5px; border: 1px solid #C8C8C8; border-radius: 50px; font-size: 14px; color: #707070; }

.header .header-right .total-menu { display: inline-block; vertical-align: middle; height: 100%; margin-left: 16px; }

.header .header-right .total-menu:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

.header .header-right .total-menu > .btn-search { width: 24px; height: 24px; background: url("../image/layout/btn_search.png") no-repeat center/contain; }

.header .header-right .total-menu > .btn-menu { width: 24px; height: 24px; margin-left: 15px; background: url("../image/layout/btn_menu.png") no-repeat center/contain; }

/*
    container #컨테이너
*/
.container { padding-top: 55px; width: 100%; height: 100%; }

.container > .contents-wrap { width: 100%; min-width: 360px; padding: 0 25px; }

/* subheader */
.subheader .breadcrumbs { width: 100%; padding: 10px 0; text-align: right; }

.subheader .breadcrumbs > ul.crumbs { display: inline-block; vertical-align: middle; font-size: 0; }

.subheader .breadcrumbs > ul.crumbs > li { position: relative; display: inline-block; vertical-align: middle; margin-left: 4px; }

.subheader .breadcrumbs > ul.crumbs > li a { font-size: 13px; padding: 0 10px; }

.subheader .breadcrumbs > ul.crumbs > li a .home { display: inline-block; width: 12px; height: 11px; background: url("../image/layout/icon_home.png") no-repeat center/100%; }

.subheader .breadcrumbs > ul.crumbs > li:before { content: ''; position: absolute; left: -4px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 5px; height: 8px; background: url("../image/layout/icon_bread_arrow.png") no-repeat center/100%; }

.subheader .breadcrumbs > ul.crumbs > li:first-child:before { display: none; }

.subheader .breadcrumbs > ul.crumbs > li:last-child > a { padding-right: 0; font-weight: 900; }

.subheader .page-title > h2 { font-size: 36px; font-weight: bold; }

.subheader .breadcrumbs + .page-title { padding-top: 15px; }

/*
    footer #푸터
*/
.footer { width: 100%; /* 푸터 탑 영역 */ /* 푸터 바텀 영역 */ }

.footer .footer-wrap { width: 100%; min-width: 360px; padding: 40px 25px 45px; }

.footer .footer-top { padding: 30px 0; }

.footer .footer-top .csnum-list { font-size: 0; }

.footer .footer-top .csnum-list > li { position: relative; padding-left: 50px; display: inline-block; height: 100%; }

.footer .footer-top .csnum-list > li .ly-ico { position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 38px; height: 38px; }

.footer .footer-top .csnum-list > li .cs-tit { font-size: 13px; color: #707070; }

.footer .footer-top .csnum-list > li .cs-num { font-size: 24px; color: #303030; }

.footer .footer-top .csnum-list > li:first-child .cs-tit { color: #303030; }

.footer .footer-top .csnum-list > li:first-child .cs-num { color: #826941; font-weight: 900; }

.footer .footer-top .csnum-list > li + li { margin-left: 60px; }

.footer .footer-bottom { display: table; width: 100%; border-top: 1px solid #E6E6E6; }

.footer .footer-bottom .left { display: table-cell; }

.footer .footer-bottom .left .footer-menu { padding: 30px 0; font-size: 0; }

.footer .footer-bottom .left .footer-menu > li { display: inline-block; position: relative; }

.footer .footer-bottom .left .footer-menu > li > a { margin: 0 20px; font-size: 16px; color: #707070; }

.footer .footer-bottom .left .footer-menu > li:first-child > a { margin-left: 0; }

.footer .footer-bottom .left .footer-menu > li.bold > a { color: #303030; font-weight: bold; }

.footer .footer-bottom .left .footer-menu > li + li:before { content: ''; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 14px; background-color: #E6E6E6; }

.footer .footer-bottom .left .footer-info { width: 100%; font-size: 0; }

.footer .footer-bottom .left .footer-info > .logo { display: inline-block; width: 156px; height: 30px; margin-right: 40px; }

.footer .footer-bottom .left .footer-info > .logo > img { width: 100%; }

.footer .footer-bottom .left .footer-info > .info { display: inline-block; line-height: 1.6; color: #A0A0A0; }

.footer .footer-bottom .left .footer-info > .info .address { font-size: 0; }

.footer .footer-bottom .left .footer-info > .info .address > li { display: inline-block; position: relative; padding: 0 8px; font-size: 13px; }

.footer .footer-bottom .left .footer-info > .info .address > li:first-child { padding-left: 0; }

.footer .footer-bottom .left .footer-info > .info .address > li + li:before { content: ''; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 9px; background-color: #A0A0A0; }

.footer .footer-bottom .left .footer-info > .info .copyright { font-size: 11px; }

.footer .footer-bottom .right { display: table-cell; margin-left: auto; }

.footer .footer-bottom .right .familysite { position: relative; margin: 20px 0; margin-left: auto; width: 200px; height: 40px; font-size: 14px; }

.footer .footer-bottom .right .familysite > .btn-fam { padding: 10px 20px; width: 100%; text-align: left; border: 1px solid #DEDEDE; border-radius: 10px; background-color: #fff; color: #707070; font-size: 14px; background-image: url("../image/layout/icon_familysite_close.png"); background-position: right 20px center; background-repeat: no-repeat; background-size: 9px; }

.footer .footer-bottom .right .familysite .fam-option { display: none; position: absolute; bottom: 100%; width: 100%; max-height: 250px; padding: 5px; overflow-y: auto; border: 1px solid #DEDEDE; border-radius: 10px; background-color: #fff; }

.footer .footer-bottom .right .familysite .fam-option > li > a { display: block; width: 100%; padding: 5px; }

.footer .footer-bottom .right .familysite.on > .btn-fam { background-image: url("../image/layout/icon_familysite_open.png"); }

.footer .footer-bottom .right .familysite.on .fam-option { display: block; }

.footer .footer-bottom .right .footer-etc { display: table; margin-left: auto; }

.footer .footer-bottom .right .footer-etc > li { position: relative; overflow: hidden; display: table-cell; }

.footer .footer-bottom .right .footer-etc > li > a { display: block; width: 100%; height: 100%; }

.footer .footer-bottom .right .footer-etc > li > a > img { width: 100%; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.footer .footer-bottom .right .footer-etc > .finance { width: 84px; height: 30px; }

.footer .footer-bottom .right .footer-etc > .voice { width: 124px; height: 30px; }
