<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Modal</title>

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="../../../z_stoveui/stoveui.css">

	<!-- JS -->
	<script type="text/javascript" src="../../asset.js"></script>
	<script type="text/javascript" src="../../../z_stoveui/stoveui.js"></script>
</head>



<body>


<!-- S : Guide Layout -->
<div class="guide_layout">



<!-- <div class="example_wrap">
	<div class="example_title">대분류</div>
	<div class="example_box">
		<div class="ex_title">
			<div class="title">중분류</div>
			<div class="info">주요 참고내용</div>
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">소분류</span><span class="class_name">셀렉터명</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">기타설명(필요할 경우)</div>
			<div class="source_code">
소스코드(좌우상하 공백없이 작성)
			</div>
		</div>
	</div>
</div> -->



<div class="example_wrap">
	<!-- <div class="example_title">대분류</div> -->
	<div class="example_box">
		<div class="ex_title">
			<div class="title">Default</div>
			<div class="info">stModal.default.uiOn('#ID')</div>
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.sl-modal.modal-default</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">
				※ 상세 가이드는 html파일 내 주석 참조
			</div>
			<div class="source_code">
<button type="button" onclick="stModal.default.uiOn('#tempModal01')">Default 모달 호출</button>
<button type="button" onclick="stModal.default.uiOn('#tempModal02')">Animation 제거 모달 호출</button>


<div class="modal-wrap">
	<div id="tempModal01" class="sl-modal modal-default"><!-- id : 퍼블확인용 임시ID, 개발에서 필요한 ID사용 -->
		<div class="modal-layer">
			<div class="modal-header">
				<h2 class="modal-title" tabindex="0">타이틀</h2>
			</div>
			<div class="modal-container">
				<div class="modal-inner" tabindex="0">
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용
				</div>
			</div>
			<div class="modal-footer">
				<div class="btn-wrap">
					<button type="button" class="se-btn btn-main bg-negative">취소</button>
					<button type="button" class="se-btn btn-main bg-positive">확인</button>
				</div>
			</div>
			<div class="modal-control">
				<button type="button" class="se-btn btn-modal-close" onclick="stModal.default.uiOff($(this))"><span class="hidden-txt">닫기</span></button><!-- onclick="stModal.default.uiOff($(this))" : 모달닫기 -->
			</div>
		</div>
	</div>
</div>

<div class="modal-wrap">
	<div id="tempModal02" class="sl-modal modal-default" data-animation="off"><!-- id : 퍼블확인용 임시ID, 개발에서 필요한 ID사용 / 애니메이션 제거 : data-animation="off" -->
		<div class="modal-layer">
			<div class="modal-header">
				<h2 class="modal-title" tabindex="0">타이틀</h2>
			</div>
			<div class="modal-container">
				<div class="modal-inner" tabindex="0">
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용<br>
					팝업내용
				</div>
			</div>
			<div class="modal-footer">
				<div class="btn-wrap">
					<button type="button" class="se-btn btn-main bg-negative">취소</button>
					<button type="button" class="se-btn btn-main bg-positive">확인</button>
				</div>
			</div>
			<div class="modal-control">
				<button type="button" class="se-btn btn-modal-close" onclick="stModal.default.uiOff($(this))"><span class="hidden-txt">닫기</span></button><!-- onclick="stModal.default.uiOff($(this))" : 모달닫기 -->
			</div>
		</div>
	</div>
</div>
			</div>
		</div>

		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">크기지정</span><span class="class_name">.sl-modal.modal-default</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">
				모달 크기 직접입력 가능<br>
				※ 상세 가이드는 html파일 내 주석 참조
			</div>
			<div class="source_code">
<button type="button" onclick="stModal.default.uiOn('#tempModal11')">Default 모달 호출</button>


<div class="modal-wrap">
	<div id="tempModal11" class="sl-modal modal-default"><!-- id : 퍼블확인용 임시ID, 개발에서 필요한 ID사용 -->
		<div class="modal-layer" style="width: 800px; height: 800px;"><!-- 크기 커스텀 : style="width: **px; height: **px;" -->
			<div class="modal-header">
				<h2 class="modal-title" tabindex="0">타이틀</h2>
			</div>
			<div class="modal-container">
				<div class="modal-inner" tabindex="0">
					<div>
						팝업내용<br>
						팝업내용<br>
						팝업내용<br>
						팝업내용<br>
						팝업내용<br>
						팝업내용<br>
						팝업내용
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="btn-wrap">
					<button type="button" class="se-btn btn-main bg-negative">취소</button>
					<button type="button" class="se-btn btn-main bg-positive">확인</button>
				</div>
			</div>
			<div class="modal-control">
				<button type="button" class="se-btn btn-modal-close" onclick="stModal.default.uiOff($(this))"><span class="hidden-txt">닫기</span></button><!-- onclick="stModal.default.uiOff($(this))" : 모달닫기 -->
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>



</div>
<!-- E : Guide Layout -->


</body>
</html>