<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Radio</title>

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="../../../z_stoveui/stoveui.css">

	<!-- JS -->
	<script type="text/javascript" src="../../asset.js"></script>
	<script type="text/javascript" src="../../../z_stoveui/stoveui.js"></script>
</head>


<body>


<!-- S : Guide Layout -->
<div class="guide_layout">

<!-- <div class="example_wrap">
	<div class="example_title">대분류</div>
	<div class="example_box">
		<div class="ex_title">
			<div class="title">중분류</div>
			<div class="info">주요 참고내용</div>
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">소분류</span><span class="class_name">셀렉터명</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">기타설명(필요할 경우)</div>
			<div class="source_code">
소스코드(좌우상하 공백없이 작성)
			</div>
		</div>
	</div>
</div> -->

<div class="example_wrap">
	<!-- <div class="example_title">Checkbox</div> -->
	<div class="example_box">
		<div class="ex_title">
			<div class="title">Radio</div>
			<!-- <div class="info">주요 참고내용</div> -->
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.se-radio</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<!-- <div class="etc_info_wrap">기타설명(필요할 경우)</div> -->
			<div class="source_code">
<div class="se-radio">
    <input type="radio" name="rdo1" id="rdo1-1">
	<label for="rdo1-1">미선택</label>
</div>

<div class="se-radio">
    <input type="radio" name="rdo1" id="rdo1-2" checked>
	<label for="rdo1-2">선택<br>선택</label>
</div>

<div class="se-radio">
    <input type="radio" name="rdo2" id="rdo1-3" disabled>
	<label for="rdo1-3">비활성화</label>
</div>

<div class="se-radio">
    <input type="radio" name="rdo2" id="rdo1-4" checked disabled>
	<label for="rdo1-4">선택 비활성화</label>
</div>
			</div>
		</div>
	</div>
</div>



</div>
<!-- E : Guide Layout -->


</body>
</html>