@charset 'utf-8';
@import "reset";

.layout {
	width: 100%;
}


/* 전역변수 */
:root {
	/* color 값 */
	--main-color: #303030;
	--subtext-color: #707070;

	/* background-color 값 */
	--main-bg: #f0f0f0;
	--main-content-bg: #fff;
}

/* dark theme 적용 */
body[data-theme=dark] {
	/* color 값 */
	--main-color: #f0f0f0;
	--subtext-color: #fff;

	/* background-color 값 */
	--main-bg: #303030;
	--main-content-bg: #707070;
}

body[data-theme=light] {
	/* color 값 */
	--main-color: #303030;
	--subtext-color: #707070;

	/* background-color 값 */
	--main-bg: #f0f0f0;
	--main-content-bg: #fff;
}

/* 브라우저 설정이 dark mode인 경우 dark theme 적용 */
@media (prefers-color-scheme: dark) {
	body {
		/* color 값 */
		--main-color: #f0f0f0;
		--subtext-color: #fff;

		/* background-color 값 */
		--main-bg: #303030;
		--main-content-bg: #707070;
	}
}

/* 브라우저 설정이 light mode인 경우 light theme 적용 */
@media (prefers-color-scheme: light) {
	body {
		/* color 값 */
		--main-color: #303030;
		--subtext-color: #707070;

		/* background-color 값 */
		--main-bg: #f0f0f0;
		--main-content-bg: #fff;
	}
}

// 브라우저 설정과 버튼으로 컨트롤 둘다 이용을 원하는 경우 document에 테마관련 추가와 미디어쿼리 모두 추가해야 함
// 위에 예시가 모두 설정해 놓은 경우임.
// 둘다 이용하는 경우도 있음 https://developer.mozilla.org/ 테마변경에 브라우저 설정, 개인 선택이 가능함

// 브라우저 설정으로 컨트롤시 미디어쿼리 이용만으로 가능 -> 테마변경에 번거러움이 있음(브라우저 설정에 들어가서 수정 해야 함)
// 버튼을 이용한 방법은 미디어 쿼리없이 document에 관련 내용 추가로 컨트롤 가능 -> 테마 변경이 편리함


/* theme custom */
body {
	background-color: var(--main-bg);
	color: var(--main-color);
	transition: background-color 0.3s, color 0.3s;

	/* dark theme 적용 */
	&[data-theme=dark] {
		/* color 값 */
		--main-color: #f0f0f0;
		--subtext-color: #fff;

		/* background-color 값 */
		--main-bg: #303030;
		--main-content-bg: #707070;
	}
}

.btn-theme {
	position: absolute;
	top: 40px;
	right: 20px;
	font-size: 0;
}

.btn-browser-setting {
	position: absolute;
	top: 80px;
	right: 20px;
	font-size: 14px;
}

/* contnet */
.header {
	width: 100%;

	.header-area {
		position: relative;
		width: 800px;
		margin: 0 auto;
		padding: 20px 140px 20px 20px;
		box-sizing: border-box;
	}
}

.container {
	width: 100%;

	.contents_area {
		width: 800px;
		margin: 0 auto;
		padding: 100px 20px;
		box-sizing: border-box;

		.content {
			position: relative;
		}
	}
}

.cont01 {
	font-size: 0;

	> .box {
		display: inline-block;
		margin-bottom: 20px;
		padding: 20px;
		box-sizing: border-box;
		width: calc(50% - 10px);
		height: 200px;
		border-radius: 12px;
		font-size: 14px;
		color: var(--subtext-color);
		background-color: var(--main-content-bg);

		&:nth-child(2n) {
			margin-left: 20px;
		}
	}
}

/* ty-02 */
.se-switch.ty-02 {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 24px;

	input[type=checkbox] {
		opacity: 0;
		width: 0;
		height: 0;

		+ label {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 12px;
			box-sizing: border-box;
			background-color: #c8c8c8;
			cursor: pointer;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 2px;
				right: 18px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #ffffff;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
				transition: right 0.2s ease-in-out;
			}
		}

		// 선택
		&:checked,
		&[checked=checked] {
			+ label {
				background-color: #6ADBC8;

				&::before {
					right: 2px;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.header .header-area {
		width: 100%;
	}
	.container .contents_area {
		width: 100%;
		padding: 40px 20px;
	}
}
