* {
    margin: 0;
    padding: 0;
}

.layout {
    width: 100%;
    height: 100%;
    min-width: 320px;
    background: rgba(0, 0, 0, 0.2);
}
.layout .container {
    padding: 50px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.layout .container .noti {
    opacity: 0.5;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.layout .container .noti.noti {
    margin-bottom: 20px;
}
.layout .container .btn_box {
    margin: 20px;
}
.layout .container .btn_box .btn_test {
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-size: 18px;
}
.layout .container .btn_box .btn_test:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
}
.layout .container .cont_box {
    padding: 20px;
}
.layout .container .cont_box .test_box {
    width: 40px;
    height: 40px;
    background: #ccc;
}
.layout .container .cont_box .test_box + .test_box {
    margin-top: 10px;
}
.layout .container .cont_box .test_box.on {
    background: #303030;
}