@charset 'utf-8';
@import 'reset';

#slider {
	width: 500px;
	height: 300px;
	border: 10px solid #000;
	margin: 100px auto;
	position: relative;
	overflow: hidden;

	.list {
		width: calc(100% * 4); //width: 400%;
		height: 100%;
		margin-left: -100%;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		li {
			width: calc(100% / 4); //widht: 25%;
			height: 100%;
			float: left;
			font-size: 50px;
			color: #fff;
			text-align: center;

			&[data-index="1"] {
				background: hotpink;
			}
			&[data-index="2"] {
				background: orange;
			}
			&[data-index="3"] {
				background: aqua;
			}
			&[data-index="4"] {
				background: brown;
			}
		}
	}
	.prev {
		position: absolute;
		top: 50%;
		left: 50px;
		margin-top: -50px;
	}
	.next {
		position: absolute;
		top: 50%;
		right: 50px;
		margin-top: -50px;
	}
}