@charset 'utf-8';
@import "reset";

.test_box {
    width: 100vw;
    height: 100%;
    background: #d7ccc8;
    color: #f0f0f0;
    font-size: 12px;

    .scroll_test_box {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .btn_box {
            margin: 20px;
            .btn_test {
                display: inline-block;
                width: 200px;
                height: 40px;
                border: 1px solid #333333;
                border-radius: 6px;
                font-size: 18px;

                &:active {
                    transform: scale(0.98);
                }
            }
        }

        .cont_box {
            width: 100%;
            padding: 100px 10px;
            box-sizing: border-box;
            background: #a69b97;
            font-size: 22px;
            p {
                text-align: center;
            }
            p + p {
                margin-top: 20px;
            }

            .test_box {
                width: 40px;
                height: 40px;
                background: #bdb9b7;

                + .test_box {
                    margin-top: 10px;
                }

                &.on {
                    background: #efebe9;
                }
            }

            .test2-test {
                /*css 작성 룰*/
                /* 컨텐트 생성 */
                /*content: "blur, box-shadow box-shadow";*/

                /* 우선순위 */
                z-index: 10;

                /* 표시 */
                /*overflow: hidden;*/
                opacity: 1;
                visibility: visible;

                /* 레이아웃 */
                display: block;
                /*vertical-align: middle;*/
                position: relative;
                top: 20px;
                /*right: 0;*/
                /*bottom: 0;*/
                left: 0;
                transform: translate(0, 0); /* 위치사용 */
                float: left;

                /* 사이즈 */
                min-width: 100px;
                width: 200px;
                max-width: 220px;
                min-height: 100px;
                height: 120px;
                max-height: 130px;
                line-height: 120px; /*박스내 상하정렬시 사용*/
                margin: 10px;
                padding: 0 10px 0 10px;
                border: 1px solid #000;
                border-radius: 10px;
                box-sizing: border-box;

                /* 컨텐트 */
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                /*line-height: 1.5;*/
                color: #303030;

                /* 부가속성 */
                /*background: url("../") no-repeat center/15px 30px;*/
                // background-color: #fff;
                box-shadow: 10px 10px 10px #000;
                cursor: pointer;
                appearance: none;
                transition: all 0.2s;
                animation: test-animation 3s 0s infinite ease-in-out alternate;
                text-overflow: ellipsis;
                white-space: nowrap;
                filter: blur(0.8px);
                /*//css 작성 룰*/

                &::before {
                    content: "blur, drop-shadow";
                    z-index: 10;
                    opacity: 1;
                    position: absolute;
                    top: 160px;
                    left: 0;
                    width: 200px;
                    height: 120px;
                    line-height: 120px;
                    border: 1px solid #000;
                    border-radius: 10px;
                    padding: 0 10px 0 10px;
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    /*line-height: 1.5;*/
                    color: #303030;
                    // background-color: #fff;
                    cursor: pointer;
                    appearance: none;
                    transition: all 0.2s;
                    animation: test-animation2 3s 0s infinite ease-in-out alternate;
                    filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
                }

                &::after {
					content: "blur, drop-shadow, bg /blur, drop-shadow, bg";
                    z-index: 10;
					overflow: hidden;
                    opacity: 1;
                    position: absolute;
                    top: 160px;
                    left: 240px;
                    width: 200px;
                    height: 120px;
                    border: 1px solid #000;
                    border-radius: 10px;
                    padding: 0 10px 0 10px;
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.5;
                    color: #303030;
                    background-color: #fff;
                    cursor: pointer;
                    appearance: none;
                    transition: all 0.2s;
                    animation: test-animation2 3s 0s infinite ease-in-out alternate;
					text-overflow: ellipsis;
					white-space: nowrap;
                    filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
                }
            }

            .img-box-wrap {
                display: flex;
                gap: 10px;
                padding-top: 350px;
                .img-box {
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    > img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@keyframes test-animation {
    0% {
        // opacity: 1;
    }
    50% {
        // opacity: 0;
        // top: 25px;
        box-shadow: none;
        filter: blur(0);
    }
    100% {
        // opacity: 1;
        // top: 20px;
        box-shadow: 10px 10px 10px #000;
        filter: blur(0.8px);
    }
}

@keyframes test-animation2 {
    0% {
        // opacity: 1;
    }
    50% {
        // opacity: 0;
        // top: 165px;
        filter: blur(0) drop-shadow(0 0 0 transparent);
    }
    100% {
        // opacity: 1;
        // top: 160px;
        filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
    }
}

/*---------------------------------------------
	대분류
---------------------------------------------*/
/* 소분류 */
/*
scss 파일 단독 사용(메모용)
(띄어쓰기)
대분류끼리 3줄
소분류끼리 1줄
소분류끼리 2줄(중분류단위의 주석작성시)
*/
