@charset "utf-8";
@import "var_test";
.cont-box {
	position: relative;
}
.test {
	font-size: 20px;
	font-size: $font;
	@include test_mixin;
	display: flex;
}


$font-size-test: 30px;

.test2 {
	font-size: $font-size-test; //30px
}

.test3 {
	font-size: $font_size_test; //30px
}

// 주석테스트
/*
	주석 테스트
*/

.test4-test {
	position: relative;

	/*css 작성 룰*/
	&:before {
		/* 컨텐트 생성 */
		content: "blur, box-shadow box-shadow";

		/* 우선순위 */
		z-index: 10;

		/* 표시 */
		overflow: hidden;
		opacity: 1;
		visibility: visible;

		/* 레이아웃 */
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 20px;
		/*right: 0;*/
		/*bottom: 0;*/
		left: 0;
		transform: translate(0, 0); /* 위치사용 */
		/*float: left;*/

		/* 사이즈 */
		min-width: 100px;
		width: 170px;
		max-width: 200px;
		min-height: 100px;
		height: 120px;
		max-height: 130px;
		line-height: 120px;/*박스내 상하정렬시 사용*/
		margin: 10px;
		padding: 0 10px 0 10px;
		border: 1px solid #000;
		border-radius: 10px;
		box-sizing: border-box;

		/* 컨텐트 */
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		/*line-height: 1.5;*/
		color: #303030;

		/* 부가속성 */
		background: url('../') no-repeat center/15px 30px;
		// background-color: #fff;
		box-shadow: 10px 10px 10px #000;
		cursor: pointer;
		appearance: none;
		transition: all 0.2s;
		animation: test-animation 3s 0s infinite ease-in-out alternate;
		text-overflow: ellipsis;
		white-space: nowrap;
		filter: blur(0.8px);
	}

	&::after {
		content: "blur, drop-shadow";
		z-index: 10;
		opacity: 1;
		position: absolute;
		top: 160px;
		left: 0;
		width: 170px;
		height: 120px;
		line-height: 120px;
		border: 1px solid #000;
		border-radius: 10px;
		margin: 10px;
		padding: 0 10px 0 10px;
		box-sizing: border-box;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		/*line-height: 1.5;*/
		color: #303030;
		// background-color: #fff;
		cursor: pointer;
		appearance: none;
		transition: all 0.2s;
		animation: test-animation2 3s 0s infinite ease-in-out alternate;
		filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
	}
}

.test5 {
	z-index: 10;
	opacity: 1;
	position: absolute;
	top: 295px;
	left: 200px;
	width: 170px;
	height: 120px;
	border: 1px solid #000;
	border-radius: 10px;
	margin: 10px;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	color: #303030;
	background-color: #fff;
	cursor: pointer;
	appearance: none;
	transition: all 0.2s;
	animation: test-animation2 3s 0s infinite ease-in-out alternate;
	filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
}

@keyframes test-animation {
	0% {
		// opacity: 1;
	}
	50% {
		// opacity: 0;
		// top: 25px;
		box-shadow: none;
		filter: blur(0);
	}
	100% {
		// opacity: 1;
		// top: 20px;
		box-shadow: 10px 10px 10px #000;
		filter: blur(0.8px);
	}
}

@keyframes test-animation2 {
	0% {
		// opacity: 1;
	}
	50% {
		// opacity: 0;
		// top: 165px;
		filter: blur(0) drop-shadow(0 0 0 transparent);
	}
	100% {
		// opacity: 1;
		// top: 160px;
		filter: blur(0.8px) drop-shadow(10px 10px 10px #000);
	}
}
/*//css 작성 룰*/

/*---------------------------------------------
	대분류
---------------------------------------------*/
/* 소분류 */
/*
scss 파일 단독 사용(메모용)
(띄어쓰기)
대분류끼리 3줄
소분류끼리 1줄
소분류끼리 2줄(중분류단위의 주석작성시)
*/
