<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">

	<title>레이아웃</title>

	<!-- Publishing CSS -->
	<link rel="stylesheet" href="../../../resource/css/uiux/ui_plugin.css">
	<link rel="stylesheet" href="../../../resource/css/uiux/ui_style.css">

	<!-- Publishing JS -->
	<script src="../../../resource/js/uiux/jquery-3.6.0.min.js"></script>
	<script src="../../../resource/js/uiux/jquery-ui-1.12.1.min.js"></script>
	<script src="../../../resource/js/uiux/ui_plugin.js"></script>
	<script src="../../../resource/js/uiux/ui_common.js"></script>
</head>
<body>


<!-- layout -->
<div class="layout">
	<!-- header -->
	<div class="header">
		<div class="header-wrap">
		</div>
	</div>
	<!-- //header -->

	<!-- container -->
	<div class="container">
		<div class="contents_wrap">
			<div class="contents">
				<!-- 여기부터 컨텐츠 -->



				컨텐츠



				<!-- //여기까지 컨텐츠 -->
			</div>
		</div>
	</div>
	<!-- //container -->

	<!-- footer -->
	<div class="footer">
		<div class="footer-wrap">
		</div>
	</div>
	<!-- //footer -->
</div>
<!-- //layout -->


</body>
</html>