<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>BreadCrumbs</title>

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="../../../z_stoveui/stoveui.css">

	<!-- JS -->
	<script type="text/javascript" src="../../asset.js"></script>
	<script type="text/javascript" src="../../../z_stoveui/stoveui.js"></script>
</head>



<body>


<!-- S : Guide Layout -->
<div class="guide_layout">

<!-- <div class="example_wrap">
	<div class="example_title">대분류</div>
	<div class="example_box">
		<div class="ex_title">
			<div class="title">중분류</div>
			<div class="info">주요 참고내용</div>
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">소분류</span><span class="class_name">셀렉터명</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">기타설명(필요할 경우)</div>
			<div class="source_code">
소스코드(좌우상하 공백없이 작성)
			</div>
		</div>
	</div>
</div> -->

<div class="example_wrap">
	<!-- <div class="example_title"></div> -->
	<div class="example_box">
		<div class="ex_title">
			<div class="title">BreadCrumbs1</div>
			<!-- <div class="info">주요 참고내용</div> -->
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.sp-breadcrumb</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<!-- <div class="etc_info_wrap">기타설명</div> -->
			<div class="source_code">
<ul class="sp-breadcrumb">
    <li class="breadcrumb"><span class="home"><span class="hidden-txt">홈</span></span></li>
    <li class="breadcrumb">뎁스1</li>
    <li class="breadcrumb">뎁스2</li>
    <li class="breadcrumb">뎁스3</li>
</ul>
			</div>
		</div>

		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">link</span><span class="class_name">.sp-breadcrumb</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<!-- <div class="etc_info_wrap">기타설명</div> -->
			<div class="source_code">
<ul class="sp-breadcrumb">
    <li class="breadcrumb"><a href="#none"><span class="home"><span class="hidden-txt">홈</span></span></a></li>
    <li class="breadcrumb"><a href="#none">뎁스1</a></li>
    <li class="breadcrumb"><a href="#none">뎁스2</a></li>
    <li class="breadcrumb"><a href="#none">뎁스3</a></li>
</ul>
			</div>
		</div>
	</div>

	<div class="example_box">
		<div class="ex_title">
			<div class="title">BreadCrumbs2</div>
			<!-- <div class="info">주요 참고내용</div> -->
		</div>
		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.sp-breadcrumb</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">
				현재뎁스, active 클래스 추가
			</div>
			<div class="source_code">
<ul class="sp-breadcrumb">
    <li class="breadcrumb"><span class="home"><span class="hidden-txt">홈</span></span></li>
    <li class="breadcrumb">뎁스1
		<div class="depth">
			<button type="button" class="se-btn btn-depth-open"><span class="hidden-txt">뎁스열기</span></button>
			<div class="list">
				<div class="inner">
					<a href="#none">뎁스3</a>
					<a href="#none">뎁스2</a>
					<a href="#none" class="active">뎁스1</a><!-- 현재뎁스 : active 클래스 추가 -->
				</div>
			</div>
		</div>
	</li>
    <li class="breadcrumb">뎁스2
		<div class="depth">
			<button type="button" class="se-btn btn-depth-open"><span class="hidden-txt">뎁스열기</span></button>
			<div class="list">
				<div class="inner">
					<a href="#none">뎁스3</a>
					<a href="#none" class="active">뎁스2</a><!-- 현재뎁스 : active 클래스 추가 -->
					<a href="#none">뎁스1</a>
				</div>
			</div>
		</div>
	</li>
    <li class="breadcrumb">뎁스3
		<div class="depth">
			<button type="button" class="se-btn btn-depth-open"><span class="hidden-txt">뎁스열기</span></button>
			<div class="list">
				<span class="inner">
					<a href="#none" class="active">뎁스3</a><!-- 현재뎁스 : active 클래스 추가 -->
					<a href="#none">뎁스2</a>
					<a href="#none">뎁스1</a>
				</span>
			</div>
		</div>
	</li>
</ul>
			</div>
		</div>

		<div class="ex_type">
			<div class="ex_info_wrap"><span class="name">left align</span><span class="class_name">.sp-breadcrumb[data-position="left"]</span><button type="button" class="source">html</button><button type="button" class="copy">copy</button></div>
			<div class="etc_info_wrap">
				뎁스리스트 왼쪽 정렬시, .sp-breacrumb에 data-position="left" 추가 (default: 오른쪽정렬)
			</div>
			<div class="source_code">
<ul class="sp-breadcrumb" data-position="left">
	<li class="breadcrumb"><span class="home"><span class="hidden-txt">홈</span></span></li>
	<li class="breadcrumb">뎁스1
		<div class="depth">
			<button type="button" class="se-btn btn-depth-open"><span class="hidden-txt">뎁스열기</span></button>
			<div class="list">
				<div class="inner">
					<a href="#none">뎁스3</a>
					<a href="#none">뎁스2</a>
					<a href="#none" class="active">뎁스1</a><!-- 현재뎁스 : active 클래스 추가 -->
				</div>
			</div>
		</div>
	</li>
	<li class="breadcrumb">뎁스2
		<div class="depth">
			<button type="button" class="se-btn btn-depth-open"><span class="hidden-txt">뎁스열기</span></button>
			<div class="list">
				<div class="inner">
					<a href="#none">뎁스3</a>
					<a href="#none" class="active">뎁스2</a><!-- 현재뎁스 : active 클래스 추가 -->
					<a href="#none">뎁스1</a>
				</div>
			</div>
		</div>
	</li>
	<li class="breadcrumb">뎁스3
		<div class="depth">
			<button type="button" class="se-btn btn-depth-open"><span class="hidden-txt">뎁스열기</span></button>
			<div class="list">
				<span class="inner">
					<a href="#none" class="active">뎁스3</a><!-- 현재뎁스 : active 클래스 추가 -->
					<a href="#none">뎁스2</a>
					<a href="#none">뎁스1</a>
				</span>
			</div>
		</div>
	</li>
</ul>
			</div>
		</div>
	</div>
</div>



</div>
<!-- E : Guide Layout -->


</body>
</html>