@charset "utf-8";
/* EiLAB Publishing Guide | version 5.5.3 | date 2021-06-08 since 2016.12.23 */

/********************************************************************************************************
	mockup override (프로젝트마다 커스텀)
*********************************************************************************************************/
/* 프로젝트로고 */
div.layout div.header div.info_project .logo { width: 22px; }

/* 목업타이틀 배경색 */
.bg_main { background: #545045 !important; color: #ffffff !important; } /* 메인컬러 */
.bg_common { background: #004e41 !important; color: #ffffff !important; } /* 공통 */
.bg_guide { background: #000000 !important; color: #ffffff !important; }
.bg_template { background: #454545 !important; color: #ffffff !important; }

/* IA - page - 화면유형 */
.page_type.common { background: pink; color: #303030; }
.page_type.alert { background: khaki; color: #303030; }
.page_type.popup { background: khaki; color: #303030; }
.page_type.popup_full { background: khaki; color: #303030; }
.page_type.slide { background: khaki; color: #303030; }
.page_type.layer { background: rgb(241, 210, 152);  color: #303030; }
.page_type.tab {  background: rgb(190, 228, 243); color: #303030; }
.page_type.page_step { background: lavender; color: #303030; }
.page_type.conts { background: coral; }
.page_type.pc_only { background: #680068; }
.page_type.allpub { background: #3600cc ; }
.page_type.cross { border: 1px solid darkblue; color: darkblue; background: #fff; }
.page_type.link { border: 0; border-radius: 0; padding: 0; padding-bottom: 1px; text-decoration: underline; _border-bottom: 1px solid #0040ff; color: #0040ff; background: transparent; }
.page.link a { color: #0040ff !important; text-decoration: underline !important; }




/*------------------------------------------------------------------------------
	IA - 숨김옵션
-------------------------------------------------------------------------------*/
/* 게이지바 */
div.depth .title div.gauge_wrap { display: none; }
.btn_guide .percent { display: none; }

/* 가이드 */
div.depth.guide .gauge_wrap { display: none; }
div.depth.guide .percent { display: none; }
div.depth.guide .info.id { display: none; }

/* 템플릿 */
div.depth.template .gauge_wrap { display: none; }
div.depth.template .percent { display: none; }
div.depth.template .info.id { display: none; }

/* 페이지 */
div.ia .info.id { display: none; }
/*div.depth.split > .title { width: 100px !important; }*/



/*------------------------------------------------------------------------------
	ia
-------------------------------------------------------------------------------*/
div.depth > .title { cursor: default; }
div.depth > .conts.show .page { display: block; }
div.depth > .conts.hide .page { display: none; }
div.depth.depth02:not(.split) > .title { background: #766c62; }
div.depth.depth03:not(.split) > .title { background: #948e7a; }

div.page.show { display: block !important; }
div.page.hide { display: none !important; }
div.page.modi_show .row.row_modify { display: block !important; }
div.page .row { display: flex; align-items: center; }
div.page .row .info.date { top: 5px; }
div.page .row.row_modify { background: seashell; }
div.page .modify_wrap { margin-left: auto; }
div.page .modify_wrap .modify { height: auto; padding: 2px 5px; border-radius: 3px; background-color: transparent; color: #303030; }
div.page .modify_wrap .modify span { display: inline-block; line-height: 18px; min-width: 18px; border-radius: 50%; background-color: red; color: #fff; font-weight: bold; text-align: center; }
div.page .call_number { background-color: aliceblue; }
div.page .info.title { cursor: pointer; }
div.page.del { background-color: #f0f0f0; }

div.page.del .info.date { border-color: #dd322e; color: #dd322e; }



/*------------------------------------------------------------------------------
	header
-------------------------------------------------------------------------------*/
div.layout div.header { position: relative; }
div.navi_wrap .category_list.active { background: #fdb016; }
.remote_wrap { display: flex; align-items: center; justify-content: flex-end; }

.select_val { display: inline-block; margin-right: 5px; font-size: 13px; color: #1c1d43; vertical-align: middle; }
.select_val span { font-size: 14px; }
.select_date { display: inline-block; width: 120px; height: 28px; font-size: 12px; vertical-align: middle; margin-right: 5px; }
.select_date > select { width: 100%; height: 100%; border: 1px solid #aaa; border-radius: 3px; }
.select_val { }

.search_wrap { border-top: 1px solid #e0e0e0; padding: 4px 8px; text-align: right; }
.search_wrap .search_val { display: inline-block; margin-right: 5px; font-size: 13px; vertical-align: middle; }
.search_wrap .search_val span { font-size: 14px; }
.search_sort { display: inline-block; width: 75px; height: 28px; font-size: 12px; vertical-align: middle; margin-right: 5px; }
.search_sort > select { width: 100%; height: 100%; border: 1px solid #aaa; border-radius: 3px; }
.search_page { position: relative; display: inline-block; width: 190px; height: 28px; font-size: 12px; vertical-align: middle; }
.search_page input { width: 100%; height: 100%; padding: 0 32px 0 4px; margin: 0; border: 1px solid #aaa; border-radius: 3px; box-sizing: border-box; }
.search_page .btn.search { position: absolute; top: 50%; right: 0; margin-top: -14px; width: 28px; height: 28px; background-image: url('image/btn_search.png'); background-repeat: no-repeat; background-size: 20px; background-position: center; background-color: transparent; }

