@charset "UTF-8";
html { line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, footer, header, nav, section { display: block; }
h1 { font-size: 2em; margin: 0.67em 0; }
figcaption, figure, main { display: block; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; overflow: visible; }
pre { font-family: monospace, monospace; font-size: 1em; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; }
abbr[title] { border-bottom: none;text-decoration: underline;-webkit-text-decoration: underline dotted;text-decoration: underline dotted; }
code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
dfn { font-style: italic; }
mark { background-color: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
audio, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type=button], [type=reset], [type=submit] { -webkit-appearance: button; }
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner { border-style: none;
padding: 0; }
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { padding: 0.35em 0.75em 0.625em; }
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
progress { display: inline-block; vertical-align: baseline; }
textarea { overflow: auto; }
[type=checkbox], [type=radio] { box-sizing: border-box; padding: 0; }
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button { height: auto; }
[type=search] { -webkit-appearance: textfield; outline-offset: -2px; }
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
details, menu { display: block; }
summary { display: list-item; }
canvas { display: inline-block; }
template { display: none; }
[hidden] { display: none; }

/* reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { color: #303030; }
ul li { list-style: none; }
i, em { font-style: normal; }
a,
a:visited,
a:hover,
a:active,
a:focus { color: #303030;; text-decoration: none; }
a, input, select, button { color: #303030; }
button { border: none; background-color: transparent; cursor: pointer; }

body { overflow-y: hidden; min-width: 360px; }

/**************************************
	header
**************************************/
.header { z-index: 100; width: 100%; min-width: 375px; background-color: #fff; border-bottom: 1px solid #d7d7d7; }
.header > .inner { position: relative; }
.header > .inner > .row { padding: 0 5px; width: 100%; }
.header .row { margin-top: 5px; }
.header .row:first-child { margin-top: 0px; }
.header .row.links,
.header .row.btns { font-size: 0; margin: 5px -3px -3px 0; }

/* row.info */
.header .info { width: 100%; }
.header .info dl dt { color: rgb(99, 99, 99); }
.header .info dl dd { margin-left: 4px; font-weight: bold; }

.header .row.func { margin-bottom: 5px; }

/* project */
.header .info .project { position: relative; padding-top: 5px; background: url('images/eilab.png') no-repeat center right; background-size: 50px 13px; }
.header .info .project > .row { padding-right: 60px; }
.header .info .project > .row > * { display: inline; vertical-align: bottom; }
.header .info .project img { vertical-align: middle; }
.header .info .project .name { font-size: 14px; }
.header .info .project .type { font-size: 12px; }

/* pub */
.header .info {  }
.header .info .eilab { display: inline-block; width: 50px; vertical-align: middle; }
.header .info .release { position: relative; height: 20px; line-height: 20px; padding-right: 75px; }
.header .info .release dl { font-size: 0; display: inline-block; vertical-align: middle; }
.header .info .release dl + dl { margin-left: 5px; }
.header .info .release dl > * { display: inline-block; vertical-align: middle; font-size: 12px; }

/* category & link-btn & 진척률  */
.category-btn,
.link-btn { padding: 2px 5px; margin: 0 3px 3px 0; border-radius: 5px; }
.category-btn > *,
.link-btn > * { display: inline-block; }
.category-btn .calc > *,
.link-btn .calc > * { width: auto; }
.reduce-map-btn { position: absolute; top: 0; right: 0px; width: 20px; height: 20px; border-radius: 5px; }
.view-calc-btn { position: absolute; top: 0; right: 25px; width: 20px; height: 20px; border-radius: 5px; }
.active-page-btn { position: absolute; top: 0; right: 50px; width: 20px; height: 20px; border-radius: 5px; }

/* calc */
.calc > * { display: inline-block; min-width: 20px; margin-left: 3px; padding: 0 2px; border-radius: 3px; text-align: center; }



/**************************************
	map
**************************************/
/* map */
.map { position: relative; min-width: 375px; overflow-y: auto; }

/* category */
.map .category { border-bottom: 1px solid #7b7b7b; }
.map .category .big-title { padding: 10px 0; }
.map .category .big-title .title-calc { padding: 0; background-color: transparent; }
.map .category + .category { margin-top: 50px; }
.map .category.hide + .category { margin-top: 0; }

/* wrap - title */
.title-calc { position: relative; display: flex; justify-content: space-between; align-items: center; }
.title-calc > * { padding: 3px 5px; }
.title-calc > *:last-child { text-align: right; }
.title-calc .title > p { display: inline-block; vertical-align: middle; line-height: 20px; }
.title-calc .title p + p { margin-left: 5px; }
.title-calc .title p + p:before { content: '》'; display: inline-block; margin-right: 5px; line-height: 20px; }
.title-calc .title { flex-basis: calc(100% - 125px); }
.title-calc .calc { flex-basis: 125px; }

/* calc */
.calc > * { min-width: 45px; }

/* .wrap - path */
.path { padding: 3px 5px; }


/* clone */
.clone { z-index: 10; position: fixed; width: 100%; left: 0; -webkit-transform: translateZ(0); transform: translateZ(0); }
.clone > .wrap { display: none; margin-right: 17px; min-width: 360px; }
.clone > .wrap.active { display: block; }

/* page */
.map .page + .page { border-top: 1px solid #7b7b7b; }

/* page - 분기 */
.map .page.case { position: relative; width: calc(100% - 30px); margin-left: 30px; border-top: 1px solid #7b7b7b; }
.map .page.case:before { content: ''; display: block; width: 30px; height: 100%; position: absolute; top: -1px; left: -30px; border-top: 1px solid #7b7b7b; background-color: #fff; }
.map .page.case:after { content: '└'; position: absolute; top: 5px; left: -20px; }

/* page - row */
.map .row { display: table; width: 100%; min-height: 25px; }
.map .row > * { display: table-cell; vertical-align: middle; width: 100px; padding: 2px 5px; }
.map .row > *:first-child { width: calc(100% - 100px); }
.map .row + .row { border-top: 1px dashed #d7d7d7; }

/* page - row.file */

/* page - state */
.map .row .state-wrap { padding: 3px 5px; }
.map .row .state { padding: 2px; border-radius: 2px; }

/* page - row(ul) */
.map .row-notice,
.map .row-modify {  }
.map .row-notice > *,
.map .row-modify > * { display: flex; width: 100%; align-items: center; min-height: 20px; padding: 2px 5px; }
.map .row-notice { border-top: 1px solid #d7d7d7; }
.map .row-modify { border-top: 1px solid #d7d7d7; }
.map .row-notice > li + li,
.map .row-modify > li + li { border-top: 1px dashed #d7d7d7; }
.map .fold-modify .row-modify > li:last-child { border-top: none; }
.map .fold-modify .row-modify > li.today { border-top: none; }
.map .fold-modify .row-modify > li.today ~ li.today { border-top: 1px dashed #d7d7d7; }

/* 수정이력 */
.map .fold-modify .row-modify > li { display: none; }
.map .row-modify > li:last-child { display: flex; }
.map .row-modify > li.today { display: flex; }
.map .row-modify > li > .text { max-width: calc(100% - 80px); }
.map .row-modify > li > .text > span:after { content: '/'; margin-left: 5px; }
.map .row-modify > li > .text > span + span { margin-left: 5px; }
.map .row-modify > li > .text > span + span:last-child:after { content: none; }
.map .row-modify > li > .text > span:first-child:last-child:after { content: none; }

/* 수정이력 불릿 */
.page > .row-modify > li:before { content: ''; width: 6px; height: 6px; display: inline-block; margin-right: 3px; border-radius: 5px; }

/* 공지사항 */
.map .row-notice > li:before { content: 'ⓘ'; margin-right: 3px; }

/* 화면 삭제 */
.page.delete > .row.file .modi-len { display: none; }

/* page - row - inline 요소들 */
.map .row .state-wrap,
.map .row .modi-len { text-align: center; }
.map .row a { display: inline-block; width: 100%; }

/* 페이지축약 */
.page.reduce > .row.file .modi-len { display: none; }
.page.reduce > .row-modify { display: none; }
.page.reduce > .row-notice { display: none; }

/* 페이지삭제 */
.page.delete > .row-modify { display: none; }

/* 태그 */
.tag { display: inline-block; vertical-align: middle; padding: 2px 3px 2px 2px; border-radius: 2px; }
.tag + .tag { margin-left: 2px; }
.tag:last-child { margin-right: 4px; }
.taglist + .page-name { vertical-align: middle; }

/* zldn */
.search-wrap,
.sort-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; box-sizing: border-box; }
.sort-wrap { margin-top: 4px; }

/* 키워드 검색 */
.search-page { flex-basis: calc(100% - 100px); max-width: 500px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.search-page .sort select { overflow: hidden; width: 100%; height: 28px; padding: 0 4px; border: 1px solid #d9d9d9; border-radius: 6px; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; }
.search-wrap .search-page .sort { width: 34%; }
.search-wrap .search-page .search { width: 66%; }
.search-page .search { position: relative; margin-left: 4px; }
.search-page .search input { overflow: hidden; width: 100%; height: 28px; padding: 0 30px 0 4px; border: 1px solid #d9d9d9; border-radius: 6px; text-overflow: ellipsis; white-space: nowrap; }
.search-page .search .btn-search { position: absolute; right: 0; width: 28px; height: 100%; background: url('images/btn_search.png') no-repeat center / 20px; }

/* 셀렉트 검색 */
.select-page { flex-basis: calc(100% - 100px); max-width: 500px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.select-page select { overflow: hidden; width: 100%; height: 28px; padding: 0 4px; border: 1px solid #d9d9d9; border-radius: 6px; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; }
.select-page .select-date { width: calc(33% - 2px); margin-left: 4px; }
.select-page .select-date:first-child  { width: 34%; margin-left: 0; }

/* 퍼블리싱 공지사항 */
.pub-notice { margin-bottom: 50px; padding: 10px; border-bottom: 1px solid #d7d7d7; }
.pub-notice .title { margin-bottom: 10px; }
.pub-notice ul > li { list-style: disc; margin-left: 20px; }
.pub-notice ul > li + li { margin-top: 5px; }



/**************************************
	스크립트 제어
**************************************/
/* section */
.section.fold { position: relative; }
.section.fold .wrap { z-index: 1; position: absolute; bottom: 0; left: 0; width: 100%; }

/* hide 클래스 */
.hide { display: none !important; }

/* 진척률 보기 모드 */
.category.view-on .path,
.category.view-on .page { display: none; }

/* 복사 */
.fake-input { position: fixed; top: -100px; left: 0; }
.copy-info { position: absolute; padding: 5px; font-size: 11px; border: 1px solid #303030; background: #fff; }

/*
	mobile 제어
*/
.mo .header .info { display: table; }
.mo .header .info > * { display: table-cell; vertical-align: middle; }

.mo .header .info .release { text-align: right; }
.mo .header .info .release .eilab { display: none; }

.mo .header .info .project { display: none; }

.mo .header .btns { overflow-x: scroll; white-space: nowrap; }
.mo .header .links { overflow-x: scroll; white-space: nowrap; }

.mo .clone { padding-right: 0; }

.mo .select-result,
.mo .search-result { display: none; }
.mo .select-page,
.mo .search-page { flex-basis: 100%; }


.row-modify.init,
.row-notice.init { display: none; }