@charset "UTF-8";
/* v0.1 | 2024-04-16 */
/*
	※ 주석가이드
	대분류간 빈 줄: 3줄
	중분류간 빈 줄: 2줄
	소분류간 빈 줄: 1줄
*/
/* ##############################################################
	대분류
############################################################## */
/* 중분류 */
/* 소분류 */






/* ##############################################################
	관제실
############################################################## */
/* dashboard */
/* left-contnet */
.left-contnet {  }

/* 선박정보 */
.left-contnet .upper-aera {  }

/* 이벤트 영역 */
.left-contnet .lower-aera {  }


.list-cont {  }


/* map */





/* ##############################################################
	조타실
############################################################## */
.content.pilothouse { overflow: hidden; }
.content.pilothouse .img-area { transform: scale(1); transition: transform 0.5s; }


.test_target { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150px; height: 50px; outline: 1px solid red; color: #fff; }