@charset "UTF-8";
/* v0.1 | 2024-04-16 */
/*
	※ 주석가이드
	대분류간 빈 줄: 3줄
	중분류간 빈 줄: 2줄
	소분류간 빈 줄: 1줄
*/
/* ##############################################################
	대분류
############################################################## */
/* 중분류 */
/* 소분류 */






/* ##############################################################
	관제실
############################################################## */
/* dashboard */
/* left-contnet */
.left-contnet {  }

/* 선박정보 */
.left-contnet .upper-aera {  }

/* 이벤트 영역 */
.left-contnet .lower-aera {  }


.list-cont {  }


/* map */





/* ##############################################################
	조타실
############################################################## */
.content.pilothouse { position: relative; overflow: hidden; }
.content.pilothouse .img-area { position: relative; transform: scale(1); transition: transform 0.5s; }

.ships { position: absolute; width: 10px; height: 10px; background-color: red; border-radius: 50%; color: #fff; }
.ships .ship-name { position: absolute; left: -50px; top: 0; }

/* 상행, 하행 구분 */
/* 최초 기본상태 */
.ships::before { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px; background: url('../../images/uiux/icon_boat_01.png') no-repeat center; background-size: contain; }
/* 업데이트 이후 */
.ships.right-direction::before { background-image: url('../../images/uiux/icon_boat_01.png') }
.ships.left-direction::before { background-image: url('../../images/uiux/icon_boat_01_01.png'); }

/* 선박 상태 */
/* 최초 기본상태 */
.ships[data-state="state01"]::before { background-image: url('../../images/uiux/icon_boat_02.png'); }
.ships[data-state="state02"]::before { background-image: url('../../images/uiux/icon_boat_03.png'); }
/* 업데이트 이후 */
.ships.right-direction[data-state="state01"]::before { background-image: url('../../images/uiux/icon_boat_02.png'); }
.ships.left-direction[data-state="state01"]::before { background-image: url('../../images/uiux/icon_boat_02_01.png'); }
.ships.right-direction[data-state="state02"]::before { background-image: url('../../images/uiux/icon_boat_03.png'); }
.ships.left-direction[data-state="state02"]::before { background-image: url('../../images/uiux/icon_boat_03_01.png'); }

/* 배 기울기 변경 */
.ships.rotate-minus::before { transform: translate(-50%, -50%) rotate(-45deg); }
.ships.rotate-plus::before { transform: translate(-50%, -50%) rotate(45deg); }

/* 현재 위치 */
.content.pilothouse .current-location { position: absolute; left: 0; bottom: 0; }
.content.pilothouse .current-location .lower { margin-top: 16px; }
.content.pilothouse .current-location .upper,
.content.pilothouse .current-location .lower { display: flex; align-items: center; gap: 13px; }
.content.pilothouse .current-location .upper .title,
.content.pilothouse .current-location .lower .title { width: 32px; height: 32px; background-color: rgba(255, 255, 255, 0.16); border-radius: 4px; font-size: 24px; color: #fff; text-align: center; line-height: 32px; }
.content.pilothouse .current-location .upper .deg,
.content.pilothouse .current-location .lower .deg { font-size: 28px; color: rgba(255, 255, 255, 0.7); line-height: 33px; }