* { margin: 0px; padding: 0px; }

ol, ul { list-style: none; }

a { text-decoration: none; }

table, td, th { border-collapse: collapse; }

fieldset { border: none; }

input, a, button { outline: 1; }

.hidden { position: absolute; top: -9999px; opacity: 0; }

#wrap { width: 100%; height: 100vh; position: relative; background: #111; overflow: hidden; }

#wrap .swiper-wrapper { width: 100%; height: 100%; }

#wrap .swiper-wrapper .swiper-slide { width: 500px; height: 500px; background: #fff; position: relative; top: 50%; margin-top: -250px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 50px; }

#wrap .swiper-wrapper .swiper-slide .pic { display: block; width: 100%; height: 200px; background-repeat: no-repeat; background-size: cover; background-position: center; margin-bottom: 20px; background: #aaa; }
