@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* { margin: 0; padding: 0; }

ol, ul, li { list-style: none; }

a { text-decoration: none; }

#wrap { position: fixed; width: 100%; height: 100vh; top: 0; left: 0; background: #fff; }

#wrap .bg { background-image: url(../img/bg14.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0.9; }

#wrap h1 { position: absolute; top: 0; left: 30px; }

#wrap .indicator { position: absolute; top: 120px; left: 400px; font: bold 14px/1 'arial'; color: #111; display: inline-block; padding: 0 6px; opacity: 1; -webkit-animation: ani 0.6s ease infinite alternate; animation: ani 0.6s ease infinite alternate; }

#wrap .indicator .fa-angle-double-left { font-size: 20px; font-weight: bold; margin-right: 5px; }

#wrap .sns { position: absolute; top: 0; right: 0; padding: 10px 50px; background: rgba(0, 0, 0, 0.5); }

#wrap .sns li { float: left; margin-left: 50px; }

#wrap .sns li a { font: bold 12px/1 'arial'; color: #222; }

#wrap .sns li a.on { text-decoration: line-through; }

#wrap .left { width: 200px; height: 100%; position: absolute; top: 0; left: 300px; }

#wrap .left:hover .navi { width: 200px; left: 0; }

#wrap .left .navi { width: 0; height: 100%; position: absolute; top: 0; left: 100px; background: black; overflow: auto; border-right: 2px solid #000; -webkit-transition: 0.5s; transition: 0.5s; }

#wrap .left .navi ul li a { display: block; width: 100%; height: 100px; background: #000; margin-bottom: 2px; overflow: hidden; }

#wrap .left .navi ul li a img { opacity: 0.3; -webkit-transition: 0.5s; transition: 0.5s; }

#wrap .left .navi ul li a:hover img { opacity: 1; }

#wrap .txtBox { width: 40%; height: 200px; background: rgba(0, 0, 0, 0.8); position: absolute; right: 0; bottom: 140px; opacity: 0.8; }

#wrap .txtBox h2 { font: 30px/1 'Poiret One'; color: #fff; position: absolute; top: 30px; left: 30px; }

#wrap .txtBox p { font: bold 14px/1 'arial'; color: #555; position: absolute; top: 90px; left: 30px; }

#wrap .txtBox span { position: absolute; bottom: 30px; right: 80px; font-size: 18px; font-family: 'Poiret One'; color: #aaa; }

#wrap .txtBox span strong { font-size: 28px; color: #ddd; }

#wrap .footer { width: 100%; height: 33px; background: #191919; position: absolute; bottom: 0; left: 0; }

#wrap .footer .f1 { position: absolute; top: 10px; left: 30px; }

#wrap .footer .f2 { position: absolute; top: 8px; right: 30px; }

@-webkit-keyframes ani { 0% { left: 410px;
    color: #bbb; }
  100% { left: 430px;
    color: #000; } }

@keyframes ani { 0% { left: 410px;
    color: #bbb; }
  100% { left: 430px;
    color: #000; } }
